@page
@model ManageUserModel
@{
	ViewData["Title"] = "Manage User";
}

<h2>Manage Users</h2>
@if (Model.UserList.Count == 0)
{
	<p>No users found.</p>
}
else
{
	
}
<form id="ManageUserForm" method="post">
	<table>

	</table>
</form>
