@page
@model BookModel
@{
	ViewData["Title"] = "Book Tee Time";
}

<h2>Book a Tee Time</h2>
<form id="BookTeeTimeForm" method="post">
	<table>
		<tr>
			<td>Select a Date: </td>
			<td><input type="date" name="SelectedDate" /></td>
		</tr>
	</table>
</form>
