<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TeeTimeWebApp</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

	<nav>
		<header>
			<h1><a href="/Index">TeeTimeWebApp</a></h1>
		</header>
		<ul>
			<li><a href="/TeeTime/Book">Book Tee Time</a></li>
			<li><a href="/TeeTime/View">View Tee Times</a></li>
			<li><a href="/TeeTime/Manage">Manage Tee Times</a></li>
			@if (User.IsInRole(role: "Admin") || User.IsInRole(role: "Stakeholder"))
			{
				<li><a href="/TeeTime/RequestStandingTeeTime">Request Standing TeeTime</a></li>
			}
			@if (User.IsInRole(role: "Admin"))
			{
				<li>
					Admin Navigation
					<ul>
						<li><a href="/Admin/NewUser">Create New User</a></li>
						<li><a href="/Admin/ManageUsers">Manage Users</a></li>
					</ul>
				</li>
			}
			<li>
			@if (User.Identity != null && User.Identity.IsAuthenticated)
			{
				<a href="/Logout">Logout</a>
			}
			else
			{
				<a href="/Login">Login</a>
			}
			</li>
		</ul>
	</nav>

	<main>
		@RenderBody()
	</main>

	<footer>
		@if (IsSectionDefined("FooterContent"))
		{
			@RenderSection("FooterContent", required: false)
		}
		else
		{
			<p>&copy; 2024 - TeeTimeWebApp</p>
		}
	</footer>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
