@page
@using System.Security.Claims
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<h2>Welcome</h2>
	@if (User.Identity != null && User.Identity.IsAuthenticated)
	{
		<h2>Hello, @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.GivenName)?.Value!</h2>
	}
	else
	{
		<h2>Please log in to access more features.</h2>
	}

	<ul>
		@foreach (Claim claim in User.Claims)
		{
			<li>@claim.Type: @claim.Value</li>
		}
	</ul>
</div>
