@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/GenericForm.css" />

<h2>Login</h2>
<form id="LoginForm" method="post" class="genericform">
	<table>
		<tr>
			<td>Email: </td>
			<td>
				<input type="text" asp-for="@Model.Email" />
			</td>
		</tr>
		<tr>
			<td>Password: </td>
			<td>
				<input type="password" asp-for="@Model.Password" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="Login" />
			</td>
		</tr>
	</table>
</form>
